<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <%= stylesheet_link_tag "bootstrap.css" %>
</head>
<body>
	<div class="main">
	  <div class="jumbotron">
	  	<div class="container">
	    	<h1>Hello my name is Brian</h1>
	    	<p>WORK DAMMIT!</p>
	  	</div>
	  </div>
	</div> 
</body>
</html>